<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>INTERPOLACIÓN</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
      	<script type="text/javascript" src="../libs/angularjs1.6/angular.min.js"></script>
        <script type="text/javascript" src="services.js"></script>
        <script type="text/javascript" src="app.js"></script>
    </head>
	<body ng-app="appServices">

        <h1>CUSTOM SERVICES</h1>

        <div ng-controller="ShoppingListAddController as itemAdder">
            <input type="text" ng-model="itemAdder.itemName" placeholder="Nombre"> <br/>
            <input type="text" ng-model="itemAdder.itemQuantity" placeholder="Quantity"> <br/>
            <button ng-click="itemAdder.addItem()">Add Item</button>
            <button ng-click="itemAdder.updateItem()">Update Item</button>
        </div>

        <div ng-controller="ShoppingListShowController as showList">
            <ol>
                <li ng-repeat="item in showList.items">
                    <b ng-click="showList.addForm($index)"> {{ item.quantity }} of {{ item.name }} </b>
                    <button ng-click="showList.removeItem($index)">Remove Item</button>
                </li>
            </ol>
        </div>
	</body>
</html>